@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf") format("ttf");
  font-weight: 100;
}

@font-face {
  font-family: "GoodDog-Cool";
  src: url("../fonts/GoodDog-webfont.woff") format("woff"),
       url("../fonts/GoodDog-Cool.otf") format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans.ttf") format("ttf");
  font-weight: normal;
}
