$font-family: "Montserrat", sans-serif !default;
$secondary-font-family: "GoodDog-Cool", sans-serif;
$font-size: 18px;

$primary-color: #9baf6d;
$secondary-color: #e7e7e7;

$background-primary-color: #212121;
$background-secondary-color: #3e4136;

